#mainNav {
  background-color: #808080; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color:  #9e873d;
    border: 0;
    background-color: white;
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase; }
  #mainNav .navbar-brand {
    max-width: 50%;
    height:100%;
    color:  #595959;
    font-family: 'Poiret One', sans-serif;
    padding: 0 15px;
    position: relative;
    top: 0%;
    margin:0 auto;

    }
   #mainNav .navbar-brand .navbar-logo{
     content: url("/static/img/logo-flat.png");
     width: 50%;
     height: auto;}
  #mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
      color:  #595959; }

  /*#mainNav > .dropdown-menu {
    position: relative;
  }

  #mainNav > .dropdown-menu {
   top:0;
   left:0;
   margin-top:-6px;
   margin-left:-1px;
   display: none;
  }*/

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(19,123,114,0.2);
    z-index: 1;
    padding : 0;
}

.dropdown-content li {
    color: #3f3f3f;
    padding: 12px 0px;
    text-decoration: none;
    display: inline;
}

.nav-item:hover .nav-item{
   float: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-link {
   /* background-color: #137b72;*/
}

  #mainNav .navbar-nav ul{
     display: none;
     text-decoration: none;
  }
  #mainNav .navbar-nav .nav-item:hover ul{
     display: inline-block;
     padding-bottom: 5%;
  }

  #mainNav .navbar-nav .nav-item .nav-item .nav-link{
    font-size:80%;
  }


  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 100%;
    font-weight: 900;
    padding: 0.75em 0;
    letter-spacing: 1px;
    color: white;
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase; }
    #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
      color:  #3f3f3f;}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;}
    #mainNav .navbar-brand {
      font-size: 1.75em;
      /*-webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;*/}

    #mainNav .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
      font-size: 100%;
      font-weight: 900;
      padding: 0.75em 0;
      letter-spacing: 1px;
      color: #3f3f3f;
      font-family: 'Poiret One', sans-serif;
      text-transform: uppercase;}
      #mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
        color:  #9e873d;}
    #mainNav.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #595959;
      color: white;}
      #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link{
          color: white;
          font-weight: 800;}
      #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link.active, #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
          color: #9e873d;
          font-weight: 800;}
      #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
        width: 30%;
        height: auto;}
        #mainNav.navbar-shrink .navbar-brand .navbar-logo{
            content: url("/static/img/logo-flat.png");
            max-width: 40%;
            height: auto;}}

.general-header{
    background: #eaecef;
    width: 100%;
    max-height: 300px;
    margin-right: -30px;
}

.header-title{
   font-family: "PT Sans";
   font-size: 300%;
   text-align: center;
   padding: 7% 0;
}

.central-container{
    margin: 0 15%;
    max-height: 60%;
    background: #eaecef;
    position: relative;
}

.central-container::before {
    display: inline-block;
    content: "";
    border-top: .1rem solid #3f3f3f;
    width: 30%;
    margin: 0 auto;
    transform: translateY(-1rem);
    text-align: center;
    position: absolute;
    top: 2%;
    left:30%;
}
.central-container::after {
    display: inline-block;
    content: "";
    border-top: .1rem solid #3f3f3f;
    width: 30%;
    margin: 0 auto;
    transform: translateY(-1rem);
    text-align: center;
    position: absolute;
    bottom: 0%;
    left:30%;
}

.central-text-container{
   font-family:  "Cormorant Garamond";
   font-size: 150%;
}

.footer{
    float: bottom;
    padding: 20px;


}
.footer-links{
    float: left;
    font-family: "PT Sans";
    font-size: 150%;
}

.footer-link{
   padding: 5px;
   color: #3f3f3f;
}

.footer-link:hover{
   text-decoration: none;
}



/*!
 * Start Bootstrap - Agency v4.0.0-beta (http://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */
html{
   background-color: #f2f2f2;

}
html, body {height: 100%; }

body {
  background-color: #f2f2f2;
  overflow-x: hidden;
  font-family: 'Poiret One', sans-serif;
  -webkit-tap-highlight-color: #9e873d;
  text-align: justify;
  }

.navbar-light{
   background-color: #f2f2f2;}

::-moz-selection {
  background: #9e873d;
  text-shadow: none; }

::selection {
  background: #9e873d;
  text-shadow: none; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

p {
  line-height: 1.75; }

a {
  color: #3f3f3f; }
  a.active, a:active, a:focus, a:hover {
    color: #9e873d; }

h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'Poiret One', sans-serif;
  text-transform: uppercase;
}

h4,
h5,
h6 {
  font-weight: 500;
  font-family: 'Poiret One', sans-serif;
  text-transform: none; }

section {
  background-color: #f2f2f2;
  padding: 20px 0; }
  section h2.section-heading {
    font-weight: 500;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 15px;}
  section h3.section-subheading {
    padding-top: 40px;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: none;
    /*font-family: 'Poiret One', sans-serif; */
   font-family: 'Yanone Kaffeesatz';}

@media (min-width: 768px) {
  section {
    padding: 30px 0; } }

#papyoga{
   color:#9e873d;
   padding: 10px 0;
   text-shadow: 1px 1px #3f3f3f;}
   #papyoga::selection{
     background: #3f3f3f;}


#landingpage{
  background-image: url("");
  position: relative;
  background-position: 0px 0px;}
  #landingpage .intro-text .intro-lead-in {
    font-weight: 500;
    font-family:'Lobster';
    line-height: 100%;
    position: absolute;}
    #landingpage .intro-text .intro-heading{
      position: absolute;
      font-size: 25px;
      color: #696969;
      line-height: 90%;
      width: 100%;}

      #quisuisje{
  background-image: url();
  background-position: 0px 0px;}
  #quisuisje .intro-text .intro-lead-in {
     color: #dee1e5;}
#quisuisje-bis{
  background-image: url();}

#cours{
  background-image: url();
  position: relative;
  background-position: 0px 0px;}
  #cours .intro-text .intro-lead-in {
     position: absolute;
     top: 10%;
     left: 55%;
     color: #141516;
     line-height: 100%;}

#contact{
  background-image: url();
  position: relative;
  background-position: 50% 50%;}
  #contact .intro-text .intro-lead-in {
     color: white;
     position: absolute;
     top: 15%;
     left: 33%;}
  #contact .intro-text .intro-heading{
        font-size: 30px;
        font-weight: 700;
        color: #3f3f3f;
        position: absolute;
        top: 1%;
        left: 1%;}

#ateliers{
  background-image: url();
  background-position: 0px 0px;}
  #ateliers .intro-text .intro-lead-in {}
   #ateliers-bis{
     background-image: url();}


@media (min-width:1256px){
  #landingpage .intro-text .intro-lead-in {
    font-size: 70px;
    width: 100%;
    top: 70%;
    left: 5%;
    width: 50%;}
  #landingpage .intro-text .intro-heading {
     position: absolute;
     top: 85%;
     left: 3%;
     width: 50%;}
}

@media (max-width: 1256px) and  (min-width:992px) {
  #landingpage .intro-text .intro-lead-in {
    font-size: 70px;
    width: 100%;
    top: 55%;
    left: 5%;
    width: 50%;}
  #landingpage .intro-text .intro-heading {
     position: absolute;
     top: 85%;
     left: 3%;
     width: 50%;}}

@media (max-width:992px) and (min-width:768px) {
  #landingpage .intro-text .intro-lead-in {
    font-size: 60px;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 3%;}
  #landingpage .intro-text .intro-heading {
    line-height: 100%;
    font-weight:300;
    width: 50%;
    top: 85%;
    left: 20%;}

  #contact{
     background-position: calc(50% + 50px) 50%;}}

@media (max-width:768px) and (min-width:480px) {
  #landingpage .intro-text .intro-lead-in {
    font-size: 50px;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 2%;}
  #landingpage .intro-text .intro-heading {
    line-height: 100%;
    font-weight:500;
    width: 100%;
    top: 85%;
    left: 2%;
    color:#3f3f3f;}

  #contact{
     background-position: calc(50% + 20px) 50%;}}

@media (max-width:500px) {
  #landingpage{
    background-position: calc(50% - 50px) 50%;}
  #landingpage .intro-text .intro-lead-in {
    font-size: 45px;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 0%;}
  #landingpage .intro-text .intro-heading {
    line-height: 100%;
    font-weight:500;
    width: 100%;
    top: 85%;
    left: 2%;
    color:#141516;}

  #ateliers{
    background-position: calc(50% +100px) 50%;}
  #ateliers-bis{
    background-position: calc(50% - 100px) 50%;}
  #quisuisje{
    background-position: calc(50% + 150px) 50%;}
  #quisuisje-bis{
    background-position: calc(50% + 50px) 50%;}

  #cours .intro-text .intro-lead-in {
     position: absolute;
     top: 10%;
     left: 5%;
     color: white;}
  #contact .intro-text .intro-lead-in {
     position: absolute;
     top: 10%;
     left: 10%;}

  #contact{
       background-position: calc(50% + 70px) 50%;}}



.text-container{
   margin-left: 15%;
   margin-right: 15%;}

header.masthead {
  background-color: #f2f2f2;
  margin-right : 15%;
  margin-left : 15%;
  margin-top : 8%;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 0px 0px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;}
  header.masthead .intro-text {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px; }
    header.masthead .intro-text .intro-lead-in {
      text-align: center;
      font-size: 50px;
      font-weight: 500;
      line-height: 100%;
      margin-bottom: 25px;
      font-family: 'Poiret One';
      color: #3f3f3f;}
    header.masthead .intro-text .intro-heading {
      font-size: 20px;
      font-style: italic;
      font-weight: 200;
      line-height: 50px;
      margin-bottom: 25px;
      font-family: 'Poiret One', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      color: #595959;
      padding-top: 15px;}

@media (min-width: 768px) {
  header.masthead .intro-text {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px; }
    header.masthead .intro-text .intro-lead-in {
      text-align: center;
      font-size: 60px;
      font-weight: 500;
      line-height: 40px;
      margin-bottom: 15px;
      font-family: 'Poiret One';}
    header.masthead .intro-text .intro-heading {
      font-size: 40px;
      font-weight: 200;
      line-height: 75px;
      margin-bottom: 50px;
      font-family: 'Poiret One';
      color: #595959;
      padding-top: 35px;}}

.service-heading {
  margin: 15px 0;
  text-transform: none;}

#collections .portfolio-item {
  right: 0;
  margin: 0 0 15px; }
  #collections .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 300px;
    margin: 0 auto;
    cursor: pointer; }
    #collections .portfolio-item .portfolio-link .portfolio-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: all ease 0.5s;
      -moz-transition: all ease 0.5s;
      transition: all ease 0.5s;
      opacity: 0;
      background: rgba(254, 209, 54, 0.9); }
      #collections .portfolio-item .portfolio-link .portfolio-hover:hover {
        opacity: 1; }
      #collections .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
        font-size: 20px;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 20px;
        margin-top: -12px;
        text-align: center;
        color: white; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
          margin-top: -12px; }
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
        #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
          margin: 0; }
  #collections .portfolio-item .portfolio-caption {
    max-width: 300px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: white; }
    #collections .portfolio-item .portfolio-caption h4 {
      margin: 0;
      text-transform: none; }
    #collections .portfolio-item .portfolio-caption p {
      font-size: 16px;
      font-style: italic;
      margin: 0;
      font-family: 'Poiret One', sans-serif; }

#collections * {
  z-index: 2; }

#actualites {
   margin-top: 5%;
   position : relative;}
   #actualites:before{
     position: absolute;
     background-color: #f3f3f;
     display: inline-block;
     content: "";
     border-top: .1rem solid #3f3f3f;
     width: 33%;
     margin: 0 auto;
     transform: translateY(-1rem);
     text-align: center;
     top: 2%;
     left:33%;}
   #actualites:after{
     position: absolute;
     background-color: #f3f3f;
     display: inline-block;
     content: "";
     border-top: .1rem solid #3f3f3f;
     width: 33%;
     margin: 0 auto;
     transform: translateY(-1rem);
     text-align: center;
     bottom: 0%;
     left:33%;}
     #actualites .actualites-title{
       font-size: 35px;
       font-weight:700;
       color: #9e873d;
       text-shadow: 1px 1px #3f3f3f; }
     #actualites .actualites-title::selection{
       background: #3f3f3f;}
      #actualites .actualites-coming-soon{
       margin-top : 50px;
       font-size: 35px;
       font-weight:700;
       color: #9e873d;
       text-shadow: 1px 1px #3f3f3f; }
       #actualites .actualites-coming-soon::selection{
          background: #3f3f3f;}
       .actualites-heading{
         padding-top : 30px;
         font-family:'Poiret One';
         font-size: 30px;
         font-weight:300;
         text-transform: none;}
         .actualites-subheading{
           padding-top : 2px;
           padding-bottom : 2px;
           font-family:'Poiret One';
           font-size: 20px;
           font-weight:200;
           text-transform: none;
           position: relative;}

.text-logo{
    font-size:60px;
    font-family:'Lobster';
    color: #3f3f3f;
    text-align: center;
    font-style: italic;}

section#contact {
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: center; }
  section#contact .section-heading {
    color: white;}
  section#contact .form-group {
    margin-bottom: 25px; }
    section#contact .form-group input,
    section#contact .form-group textarea {
      padding: 20px;}
    section#contact .form-group input.form-control {
      height: auto;}
    section#contact .form-group textarea.form-control {
      height: 236px;}
  section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;}
  section#contact ::-webkit-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;}
  section#contact :-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 18- */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;}
  section#contact ::-moz-placeholder {
    font-weight: 700;
    color: #eeeeee;
    /* Firefox 19+ */
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;}
  section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #eeeeee;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;}
  section#contact .text-danger {
    color: #e74c3c;}

footer {
  padding: 25px 0;
  text-align: center; }
  footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;}
  footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;}

.text-primary {
  color: #fed136 !important; }

.footer-flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
.img-flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

@media (max-width:992px) {
  .img-flex-row{
     flex-wrap: wrap;
     flex-direction: column;}
  #chandelle{
    content:url();
    width: 100%;
    height: 100%;
    max-width:100%;
    max-height:100%;}
  #chandelle-text{
    padding-top: 50px;}}

.portrait-img{
  margin-right : 10%;
  display: block;
  max-width:50%;
  max-height:50%;
  width: 50%;
  height: 50%;
}

.update-account-form{
   max-width:50%;
}

.text-centered{
   text-align : center;
}

.flexible-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.flexible-col{
  display: flex;
  flex-direction: col;
  flex-wrap: wrap;
}

.button-flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}


.button-flex-col{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.button-flex-col .button-type-submit{
  margin: auto;
  margin-top:2%;
  white-space: normal;
  font-family:'Poiret One';
  max-width: 50%;
  font-size:25px;
  color:#3f3f3f;
  background-color:#137b72;
}


.text-container .button-type-submit{
  margin: auto;
  margin-top:2%;
  white-space: normal;
  font-family:'Poiret One';
  max-width: 50%;
  font-size:25px;
  color:#3f3f3f;
  background-color:#137b72;
}

.settings-form{
  max-width : 70%;
}