<div ng-controller="AdminYogaController as vm">
  <div class="row">
    <div class="col-sm-8">
      <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>
    </div>
    <div class="col-sm-4 yoga-panel-container">

      <div class="col-sm-4 yoga-panel">
        <h1>RESERVATIONS : </h1>
        <h1>{{description}}</h1>
        <h2>Débute à : {{start}}</h2>
        <h2>Durée : {{duration}} minutes</h2>
      </div>

      <div class="col-sm-4  yoga-user-info">
        <div ng-if="(account | isEmpty)">
           <h2>Vous n'êtes pas encore connecté(e)</h2>
           <li><a href="/login">Se connecter</a></li>
           <li><a href="/register">Créer un compte</a></li>
        </div>
        <div ng-if="!(account | isEmpty)">
           <h2>Bonjour {{  account.first_name }} {{  account.last_name }}</h2>
           <h2>Vos crédits : {{  account.credits }} </h2>
            <div ng-show="account.credits < lesson.price">
                <button class="btn btn-primary" ng-click="vm.reserveLesson(lesson, account)">Recharger vos credits!</button>
            </div>
           <button class="btn btn-primary"
                   ng-click="vm.reserveLesson(lesson, account)"
                   ng-show="account.credits >= lesson.price">
               Reserver !
           </button>
        </div>
        <h2 style="color:{{alert_message_color}};">{{alert_message}}</h2>
      </div>
    </div>
  </div>

</div>