<!--<div class="fullsize-fixe">-->
<div class="cy-contour-white">
    <div class="cy-contour">
        <div class="cy-container">
            <div ng-include="'/static/templates/general/navbar.html'"></div>
            <div class="main-containe">
                <div layout layout-align="space-between start" style="">
                    <div layout="column"  flex="60" layout-align="space-between center" style="borde: 1px solid #3f3f3f; height:100%;padding: 0 20px;">
                        <h2 hide-md hide-sm hide-xs class="page-title"
                            style="text-transform: uppercase; padding-left:5%;margin-bottom:80px;margin-top: 40px;"> Contact </h2>
                        <div hide-gt-md style="width :1px; margin-bottom:75px;"></div>
                        <div class="form-group" for="question" style="width : 100%; margin-bottom:15px;">
                        <md-input-container id="question" style="min-width:100%;">
                            <md-select class="form-control quicksand-lg"
                                       validate-on="submit"
                                       ng-required="1"
                                       ng-model="selectedQuestion"
                                       placeholder="Vous souhaitez ?"
                                       ng-change="changeQuestion()"
                                       style="background-color:#f8e4c8; border-radius: 0;">
                                <md-select-header>
                                    <span class="quicksand-lg"> Vous souhaitez ? </span>
                                </md-select-header>
                                <md-option class="quicksand-md" ng-value="question" ng-repeat="question in questions">{{ question}}</md-option>
                            </md-select>
                        </md-input-container>
                        </div>

                        <div layout flex layout-align="space-between start" style="min-width:100%;">
                            <div layout="column" flex="40" layout-align="space-between start">
                                <div class="form-group" style="width : 100%; margin-bottom:15px;">
                                    <label class="quicksand-md" for="reservation_nom">Nom</label>
                                    <input style="font-size:20px;border-radius: 0; background-color:#f8e4c8;"
                                           name="nom"
                                           type="text"
                                           class="form-control"
                                           id="reservation_nom"
                                           ng-model="reservation_nom"
                                           ng-required="1"
                                           validate-on="submit"
                                           oninvalid="this.setCustomValidity('Champ obligatoire')"
                                           oninput="setCustomValidity('')"
                                           ng-change="changeForm()"/>
                                </div>
                                <div class="form-group" style="width : 100%; margin-bottom:15px;">
                                    <label class="quicksand-md" for="reservation_email">Email</label>
                                    <input style="font-size:20px; border-radius: 0; background-color:#f8e4c8;"
                                           name="email"
                                           type="email"
                                           class="form-control"
                                           id="reservation_email"
                                           ng-model="reservation_email"
                                           ng-required="1"
                                           oninvalid="this.setCustomValidity('Champ obligatoire')"
                                           oninput="setCustomValidity('')"
                                           ng-change="changeForm()"/>
                                </div>
                                <div class="form-group" style="border-radius: 0; margin-bottom:15px;">
                                    <label class="quicksand-md" for="reservation_tel">Téléphone (optionnel)</label>
                                    <input style="font-size:20px; border-radius: 0; background-color:#f8e4c8;"
                                           type="text"
                                           class="form-control"
                                           id="reservation_tel"
                                           ng-model="reservation_tel"

                                           ng-change="changeForm()"/>
                                </div>

                            </div>
                            <div layout="column" flex="60" layout-align="start end">
                                <div class="form-group" layout="column" flex layout-align="start end" style="width : 100%;borde: 1px solid black;">
                                    <label class="quicksand-md" for="reservation_tel">Quel est votre message ?</label>
                                    <textarea class="quicksand-md"
                                              style="background-color:#f8e4c8; min-height:150px; width : 90%;"
                                              ng-model="reservation_comment"
                                              placeholder="Commentaire (optionnel)"
                                              ng-change="changeForm()"/>
                                </div>
                                <div class="form-group">
                                    <md-button type="submit" ng-click="goto(subkey)"
                                               class="md-primary md-raised cy-button"
                                               style="/*color:#5D3B0A;*/">
                                        {{submit_button}}
                                    </md-button>
                                    <!--<md-button style="font-family:'Poiret One'; font-size:30px; background-color:#137b72"
                                    type="submit" class="btn btn-primary">Reserver</md-button>-->
                                </div>
                            </div>

                        </div>



                    </div>
                    <div layout="column"  flex="35" flex-offset="5" layout-align="space-between start"
                         style="padding-left: padding-right:5%; 50px;margin-top: 75px; height:100%;">
                        <h2 class="quicksand-md" style="color:#97BA65;font-weight:700; margin-bottom: 20px;">Café Yoga</h2>
                        <h2 class="quicksand-md" style="font-weight:100;">107 boulevard Voltaire</h2>
                        <h2 class="quicksand-md" style="font-weight:100;">75011 Paris</h2>
                        <h2 class="quicksand-md" style="font-weight:100;margin-bottom: 20px;">Téléphone : 01 02 03 04 05</h2>
                        <h2 class="quicksand-md" style="font-weight:100;">Métro : Voltaire (ligne 9)</h2>
                        <h2 class="quicksand-md" style="font-weight:100;margin-bottom: 20px;">Bus : lignes 17, 54, 62</h2>
                        <div id="map_div"></div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-include="'/static/templates/general/footer.html'"></div>
    </div>
</div>
<!--</div>-->


