<div class="row">
    <div class="col-md-16 col-md-offset-16">
        <div class="container-fluid landingpage-container-square">
           <div class="row flex-container">
                <div class="col-md-4 col-sm-6 portfolio-item top left">
                    <a class="portfolio-link" data-toggle="modal" href="/restaurant">
                        <div class="portfolio-hover"></div>
                        <img class="img-fluid" src="/static/img/restaurant-carre.jpg" alt="Restaurant">
                        <div class="portfolio-centered">Restaurant</div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 center flex-column">
                    <a class="logo-link" href="/">
                        <img class="img-fluid logo" src="/static/img/logo.png" alt="CafeYoga">
                    </a>
                    <div class="center links-container">
                        <a class="landingpage-link" href="/presentation">Qui Sommes Nous?</a>
                        <a class="landingpage-link" href="/galeriephotos">Galerie Photo</a>
                        <a class="landingpage-link" href="/contact">Contact</a>
                    </div>

                </div>
                <div class="col-md-4 col-sm-6 portfolio-item top right">
                    <a class="portfolio-link" data-toggle="modal" href="/yoga/calendrier">
                        <div class="portfolio-hover"></div>
                        <img class="img-fluid" src="/static/img/yoga-carre.jpeg" alt="Yoga">
                        <div class="portfolio-centered">Yoga</div>
                    </a>
                </div>

           </div>

           <div class="row flex-container">
                <div class="col-md-4 col-sm-6 portfolio-item bottom left">
                    <a class="portfolio-link" data-toggle="modal" href="">
                        <div class="portfolio-hover"></div>
                        <img class="img-fluid" src="/static/img/evenement-carre.jpg" alt="Evenement">
                        <div class="portfolio-centered">Evènements</div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 center bottom flex-column">
                    <a class="personal-space-link center" href="/">Mon Espace</a>
                    <div class="landingpage-footer">
                        <div class="center icons-container">
                          <a href="#" class="center fa fa-instagram fa-2x"></a>
                          <a href="#" class="center fa fa-facebook fa-2x"></a>
                          <a href="#" class="center fa fa-twitter fa-2x"></a>
                          <a href="#" class="center fa fa-youtube fa-2x"></a>
                        </div>
                        <a class="mentions-link" href="/mentionslegales">Mentions Légales</a>
                    </div>


                </div>
                <div class="col-md-4 col-sm-6 portfolio-item bottom right">
                    <a class="portfolio-link" data-toggle="modal" href="">
                        <div class="portfolio-hover"></div>
                        <img class="img-fluid" src="/static/img/exposition-carre.jpeg" alt="Exposition">
                        <div class="portfolio-centered">Expositions</div>
                    </a>
                </div>
           </div>
        </div>
    </div>
</div>
