<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" ng-controller="NavbarController as vm">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger " href="/">
      <img class="navbar-logo"/>
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <div ng-if="!(account | isEmpty)">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger dropdown-link" href="/restaurant">Restaurant</a>
            <ul class="dropdown-content">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/nosproduits">Nos produits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/carte">Notre carte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/restaurant/reservation">Réservation</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger" href="/yoga/calendrier">Yoga</a>
            <ul class="dropdown-content">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/yoga/professeurs">Les animateurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/yoga/calendrier">Calendrier des cours</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/restaurant/reservation">Réservation</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/boutique">Boutique & Expositions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/evenements">Evènements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/settings">{{ account.first_name }} {{  account.last_name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="javascript:void(0)" ng-click="vm.logout()">Se déconnecter</a>
          </li>
        </ul>
      </div>

      <div ng-if="(account | isEmpty)">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger dropdown-link" href="/restaurant">Restaurant</a>
            <ul class="dropdown-content">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/nosproduits">Nos produits</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/carte">Notre carte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/restaurant/reservation">Réservation</a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link js-scroll-trigger" href="/yoga/calendrier">Yoga</a>
            <ul class="dropdown-content">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/yoga/professeurs">Les animateurs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/yoga/calendrier">Calendrier des cours</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/boutique">Boutique & Expositions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/evenements">Evènements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/login">Mon Compte</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>